*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
key.jks

build/**/*
out/**/*

lib/*
bin/*

out/**/*

include/*
lib/*
bin/*
test/test_runner

.vscode/**/*

test

